<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="demo-coffeemaker.ZPM">
    <Module>
      <Name>demo-coffeemaker</Name>
      <Version>1.0.2</Version>
      <Description>InterSystems IRIS Full-stack app demo</Description>
      <Keywords>REST,Full-stack,angular</Keywords>
      <Packaging>module</Packaging>
      <CSPApplication CookiePath="/csp/coffee/" DefaultTimeout="900" DeployPath="${cspdir}/coffee" MatchRoles=":${dbrole}" PasswordAuthEnabled="0" Recurse="1" ServeFiles="1" ServeFilesTimeout="3600" SourcePath="/web" UnauthenticatedEnabled="0" Url="/csp/coffee" UseSessionCookie="2"/>
      <SourcesRoot>src</SourcesRoot>
      <Resource Directory="cls" Name="Demo.PKG"/>
      <Resource Name="Demo.coffeemakerD.GBL"/>
      <CSPApplication CookiePath="/rest/coffeemakerapp/" DefaultTimeout="900" DispatchClass="Demo.CoffeeMakerRESTServer" MatchRoles=":${dbrole}" PasswordAuthEnabled="1" Recurse="1" ServeFiles="1" ServeFilesTimeout="3600" UnauthenticatedEnabled="0" Url="/rest/coffeemakerapp" UseSessionCookie="2"/>
      <UnitTest Name="/tests" Package="UnitTest" Phase="test"/>
    </Module>
  </Document>
</Export>